<div id="app" class="project pt-4 text-center">
    <h1 class="display-4 main__title">@ViewData["Title"]</h1>
    @{
        var projectModel = Model;
    }
     @foreach (var project in Model)
    {
        var name = project.ProjectName; 

        <vue-project class="mb-4" id="@project.Id">
                
        </vue-project>
    }
</div>

@section Scripts {
    <partial name="_Project" />

    <script type="text/javascript">
        var app = new Vue({
            el: '#app'
        })
    </script>
}
